/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.cairo {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}


.elmasry{
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.kufi {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.button {
  --background: #362a89;
  --text: #fff;
  --cart: #fff;
  --tick: var(--background);
  position: relative;
  border: none;
  background: none;
  padding: 8px 28px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  min-width: 144px;
  color: var(--text);
  background: var(--background);
  transform: scale(var(--scale, 1));
  transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
}
.button:active {
  --scale: 0.95;
}
.button span {
  font-size: 14px;
  font-weight: 500;
  display: block;
  position: relative;
  padding-left: 24px;
  margin-left: -8px;
  line-height: 26px;
  transform: translateY(var(--span-y, 0));
  transition: transform 0.7s ease;
}
.button span:before,
.button span:after {
  content: "";
  width: var(--w, 2px);
  height: var(--h, 14px);
  border-radius: 1px;
  position: absolute;
  left: var(--l, 8px);
  top: var(--t, 6px);
  background: currentColor;
  transform: scale(0.75) rotate(var(--icon-r, 0deg))
    translateY(var(--icon-y, 0));
  transition: transform 0.65s ease 0.05s;
}
.button span:after {
  --w: 14px;
  --h: 2px;
  --l: 2px;
  --t: 12px;
}
.button .cart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -18px;
  transform-origin: 12px 23px;
  transform: translateX(-120px) rotate(-18deg);
}
.button .cart:before,
.button .cart:after {
  content: "";
  position: absolute;
}
.button .cart:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--cart);
  bottom: 0;
  left: 9px;
  filter: drop-shadow(11px 0 0 var(--cart));
}
.button .cart:after {
  width: 16px;
  height: 9px;
  background: var(--cart);
  left: 9px;
  bottom: 7px;
  transform-origin: 50% 100%;
  transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
  transition: transform 1.2s ease var(--fill-d);
}
.button .cart svg {
  z-index: 1;
  width: 36px;
  height: 26px;
  display: block;
  position: relative;
  fill: none;
  stroke: var(--cart);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button .cart svg polyline:last-child {
  stroke: var(--tick);
  stroke-dasharray: 10px;
  stroke-dashoffset: var(--offset, 10px);
  transition: stroke-dashoffset 0.4s ease var(--offset-d);
}
.button.loading {
  --scale: 0.95;
  --span-y: -32px;
  --icon-r: 180deg;
  --fill: 1;
  --fill-d: 0.8s;
  --offset: 0;
  --offset-d: 1.73s;
}
.button.loading .cart {
  animation: cart 3.4s linear forwards 0.2s;
}
@keyframes cart {
  12.5% {
    transform: translateX(-60px) rotate(-18deg);
  }
  25%,
  45%,
  55%,
  75% {
    transform: none;
  }
  50% {
    transform: scale(0.9);
  }
  44%,
  56% {
    transform-origin: 12px 23px;
  }
  45%,
  55% {
    transform-origin: 50% 50%;
  }
  87.5% {
    transform: translateX(70px) rotate(-18deg);
  }
  100% {
    transform: translateX(140px) rotate(-18deg);
  }
}
/* //////////////////////////////// */
.items-buttons-container {
  align-items: center;
  display: block;
}

.items-button {
  position: relative;
  cursor: pointer;
}

.items-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.items-button__label {
  display: inline-block;
  padding-right: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: black;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.items-button__custom {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.items-button__input:checked + .items-button__label .items-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid #4c8bf5;
  color: #4c8bf5;
}

.items-button__input:checked + .items-button__label {
  color: #4c8bf5;
}

.items-button__label:hover .items-button__custom {
  transform: translateY(-50%) scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 10px #4c8bf580;
}

@keyframes slide-down {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}


.signup{
  background-image: url("./assets/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
/* ///////////////////// */
/* confirm */
/* From Uiverse.io by reshades */ 
.form-confirm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #00000000;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid #369eff66;
  /* width: 14em;
  height: 14em; */
}

.content-confirm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.form-confirm p {
  color: #fff;
  font-weight: bolder;
}

.path {
  fill: #369eff
}

.svg {
  filter: blur(20px);
  z-index: -1;
  position: absolute;
  opacity: 50%;
  animation: anim 3s infinite;
}

.inp {
  margin-left: auto;
  margin-right: auto;
  white-space: 4px;
}

.input-confirm + .input-confirm {
  margin-left: 0.3em
}

.input-confirm {
  color: #fff;
  height: 2em;
  width: 2em;
  float: left;
  text-align: center;
  background: #00000000;
  outline: none;
  border: 1px #369eff solid;
  border-radius: 10px;
  transition: all 0.6s ease;
}

.input-confirm:focus {
  outline: none;
  border: 1px #fff solid;
}

.input-confirm:not(:placeholder-shown) {
  opacity: 40%
}
.bg-confirm{
background-image: url("./assets/bg1.webp");



}

.form-confirm button {
  margin-left: auto;
  margin-right: auto;
  background-color: #00000000;
  color: #fff;
  width: 8.5em;
  height: 2.3em;
  border: #369eff 0.2em solid;
  border-radius: 11px;
  transition: all 0.5s ease;
}

.form-confirm button:hover {
  background-color: #369eff;
}

@keyframes anim {
  0% {
    transform: translateY(-70px);
  }

  50% {
    transform: translateY(-19px);
  }

  100% {
    transform: translateY(-70px);
  }
}

.first-part{background: rgb(175,26,48);
  background: linear-gradient(113deg, rgba(175,26,48,1) 0%, rgba(74,111,164,1) 88%, rgba(65,106,160,1) 100%);

}
.layout{
  background-image: url("./assets/q2.webp");
}
